body {
    display: grid;
    justify-content: center;
    background-color: #c91e65;
  }

  h2 {
    color: red;
  }

  .nav {
    display: flex;
    justify-content: center;
    justify-items: left;
  }