<html><head>
    <title>Albums Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../static/css/albums.css">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" sizes="200x200" href="../static/téléchargement.png">
    <link rel="apple-touch-startup-image" href="../static/téléchargement.png">
    <noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
</head>
<body class="">
    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Nav -->
                            <nav>
                                <ul>
                                    <li><a href="#menu">Menu</a></li>
                                </ul>
                            </nav>

                    </div>
                </header>

            <!-- Menu -->
                

            <!-- Main -->
                <div id="main">
                    <div class="inner">
                        <header>
                            <h1>Albums</h1>
                            <!-- <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p> -->
                        </header>
                        <section class="tiles">
                            <article class="style1">
                                <span class="image">
                                    <img src="/static/images/pic01.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Maroc</h2>
                                    <div class="content">
                                        <p>Décembre 2017</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style2">
                                <span class="image">
                                    <img src="/static/images/pic02.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Canaries</h2>
                                    <div class="content">
                                        <p>Novembre 2018</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style3">
                                <span class="image">
                                    <img src="/static/images/pic03.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Chypre</h2>
                                    <div class="content">
                                        <p>Mai 2018</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style4">
                                <span class="image">
                                    <img src="/static/images/pic04.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Tempus</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style5">
                                <span class="image">
                                    <img src="/static/images/pic05.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Aliquam</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style6">
                                <span class="image">
                                    <img src="/static/images/pic06.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Veroeros</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style2">
                                <span class="image">
                                    <img src="/static/images/pic07.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Ipsum</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style3">
                                <span class="image">
                                    <img src="/static/images/pic08.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Dolor</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="/static/images/pic09.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Nullam</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style5">
                                <span class="image">
                                    <img src="/static/images/pic10.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Ultricies</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style6">
                                <span class="image">
                                    <img src="/static/images/pic11.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Dictum</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style4">
                                <span class="image">
                                    <img src="/static/images/pic12.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Pretium</h2>
                                    <div class="content">
                                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                    </div>
                                </a>
                            </article>
                        </section>
                    </div>
                </div>

        </div>

    <!-- Scripts -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/browser.min.js"></script>
        <script src="../static/js/breakpoints.min.js"></script>
        <script src="../static/js/util.js"></script>
        <script src="../static/js/main.js"></script><nav id="menu"><div class="inner">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="generic.html">Ipsum veroeros</a></li>
                        <li><a href="generic.html">Tempus etiam</a></li>
                        <li><a href="generic.html">Consequat dolor</a></li>
                        <li><a href="elements.html">Elements</a></li>
                    </ul>
                </div><a class="close" href="#menu">Close</a></nav>


</body></html>