<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <title>Starting Flask</title>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" sizes="200x200" href="/static/téléchargement.png">
    <link rel="apple-touch-startup-image" href="/static/téléchargement.png">
</head>
<body>
    <!-- Top Navigation Menu -->
    <div class="topnav">
    <a href="index" class="active">Work in progress</a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks" class="bg-primary">
      <a href="albums">Albums</a>
      <a href="">Calendar</a>
      <a href="">Budget</a>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
     </div>

    {% block body%}


    {% endblock %}
    <script>
        if (!navigator.serviceWorker.controller) {
            navigator.serviceWorker.register("./sw.js").then(function(reg) {
                console.log("Service worker has been registered for scope: " + reg.scope);
            });
        }
        </script>
        <script src="../static/js/toggle_menu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>