<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starting Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <p>Starting Flask App</p>
    <br>
    <a href="www.google.com">Test link</a>
    <br>
    <form action="" autocomplete="on">Fill in the form</form>
        <br>
        <label for="Test form">Test form</label>
        <br>
        <input type="text">
        <br>
        <label for="Again">Again</label>
        <br>
        <input type="text">
    
</body>
</html>